.container {
  /* display: inline-flex; */
  /* justify-content: space-between; */

  /* justify-content: space-between; */
  /* border: 5px solid black; */

  margin: 5.25vh auto;
  /* padding: auto; */
  /* background: url(./imgs/papyrus.png); */
  background-repeat: repeat;
  background-attachment: local;
  /* scroll-behavior: smooth; */
  /* transform: translateZ(-1px); */
}

.page {
  z-index: 1;
  margin: 2.5vh 33.333vw;
  /* perspective: 1px; */
  scroll-snap-align: center;
  /* padding: auto; */
  /* align-items: center; */
  /* padding: auto; */
  /* transform: translateZ(-2px); */
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  width: 35vw;
  border: 2px solid black;
  border-radius: 5px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 1.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.title {
  z-index: 1;
  /* position: relative; */
  /* background-image: url(./imgs/solidStone.jpeg); */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
  /* filter: drop-shadow(5px 5px 10px #000); */
  /* width: 50vw; */
  /* position: relative; */

  /* left: calc(-50vw + 50%); */
  margin: 1vh auto 0;
  padding: 2.25%;
  height: auto;
  /* width: 100vw; */
  font-family: 'IM Fell English SC', serif;
  font-size: 1rem;
  font-weight: 900;
  /* color: black; */
  /* text-align: center; */
  /* border: 5px solid black; */
  border-radius: 15px;
  /* background: rgb(0,0,0); */
  /* background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(159,40,40,1) 5%, rgba(253,49,49,1) 20%, rgba(254,55,55,1) 50%, rgba(253,49,49,1) 80%, rgba(159,40,40,1) 95%, rgba(0,0,0,1) 100%); */
}

.sacredGeo {
  filter: drop-shadow(0px 0px .1px black);
  transform: rotate(-5deg);
  color: #000;
  z-index: -1;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  /* right: inherit; */
  /* left: 0; */
  width: 200px;
  height: 200px;
  background-image: url(./imgs/01.png);
}

.challenge p {
  margin: 0 auto;
  padding: .5rem 0;
  font-family: 'IM Fell English SC', serif;
  font-size: 1.1rem;
  font-weight: 700;
  color: black;
  text-align: center;
  /* border: 5px solid black; */
}

h2 {
  font-family: 'IM Fell English SC', serif;
  margin: 0 auto;
  /* padding: 2.5% 0 0; */
  font-size: 3rem;
  font-weight: 700;
  color: black;
  text-align: center;
  /* top: 0;
  left: 0;
  right: 0; */
  /* border: 1px solid black; */
}

h3 {
  font-family: 'IM Fell English SC', serif;
  margin: 0 auto;
  padding: 0;
  font-size: 1.5rem;
  width: fit-content;
  /* font-weight: 700; */
  color: black;
  text-align: center;
  border-bottom: 3px solid black;
}

.picture {

  margin: 0 auto -1.5%;
  padding: 0;
  width: 80%;
  background-color: #2D3237;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  border-radius: 5px;
  border: 1px solid black;
  /* border-radius: 10px; */
  /* padding-top: 66.64%;*/
  padding-top: 44.42%;
  /* border: 5px solid black; */
}

.savingThrows {
  margin: 0 auto -2%;
  border: 4px solid black;
  border-radius: 5px;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(45,50,55,1) 50%, rgba(0,0,0,1) 100%);
  height: 3.75vh;
}

.savingThrows p {
  text-align: center;
  margin: 1.25% auto;
  padding: auto;
  color: white;
  /* position: absolute; */
  /* text-align: center; */
  /* padding: 0.1em 1rem; */
  font-family: 'IM Fell English SC', serif;
  font-size: 1.2rem;
  font-weight: 700;
  /* justify-content: center; */
  /* align-content: center; */
}

.details {
  border: 2px solid black;
  border-radius: 5px;
  /* background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(138,110,47,1) 5%, rgba(159,121,40,1) 10%, rgba(253,185,49,1) 15%, rgba(254,216,54,1) 25%, rgba(254,219,55,1) 50%, rgba(254,212,54,1) 75%, rgba(253,185,49,1) 85%, rgba(159,121,40,1) 90%, rgba(138,110,47,1) 95%, rgba(0,0,0,1) 100%); */
  margin: 4% auto 0;
  padding: 0;
  /* padding: 5px 0; */
  /* text-align: center; */
  /* background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(159,40,40,1) 5%, rgba(253,49,49,1) 20%, rgba(254,55,55,1) 50%, rgba(253,49,49,1) 80%, rgba(159,40,40,1) 95%, rgba(0,0,0,1) 100%);
  border: 6px solid black;
  border-radius: 10px; */
  display: flex;
  background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(45,50,55,1) 50%, rgba(0,0,0,1) 100%);
  /* border-top: 2.5px solid black; */
  /* border-radius: 10px;
  border: 4px solid black; */
  width: 80%;
  /* height: 25%; */
}

.details :nth-child(1) {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(85,126,240,1) 10%, rgba(90,111,255,1) 50%, rgba(85,126,240,1) 90%, rgba(0,0,0,1) 100%);
}

.details :nth-child(2) {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(240,85,85,1) 10%, rgba(255,90,90,1) 50%, rgba(240,85,85,1) 90%, rgba(0,0,0,1) 100%);
}

.details :nth-child(3) {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(240,216,85,1) 10%, rgba(255,230,90,1) 50%, rgba(240,216,85,1) 90%, rgba(0,0,0,1) 100%);
}

.details p {
  border: 2px solid #2D3237;
  border-radius: 5px;
  margin: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* align-items: center; */
  /* justify-content: center; */
  /* padding: 0.1em 1rem; */
  /* background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(45,50,55,1) 50%, rgba(0,0,0,1) 100%); */
  /* color: whitesmoke; */
  font-family: 'IM Fell English SC', serif;
  font-size: 1.2rem;
  font-weight: 900;
  border: 6px solid black;
  border-radius: 10px;
  line-height: 100%;
  width: 33%;
  height: 65px;
}

.content {
  margin: 0 auto;
  display: flex;
  /* border: 5px solid black; */
  border-radius: 10px;
  /* justify-content: center; */
  /* border: 5px solid black; */
  height: 27.5vh;
  width: 80%;
}

.stats {
  /* margin: 0 0 0 -1%; */
  /* margin: auto; */
  border: 2.5px solid black;
  margin: 2.5%;
  padding: 1%;
  width: 35%;
  overflow: auto;
  /* height: auto; */
  padding: 1rem;
}

.stats ul {
    /* text-align: center; */
    /* list-style: none; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 0 0 -45%;
    /* padding: .75% 0; */
    font-family: 'IM Fell English SC', serif;
    font-size: 1rem;
    font-weight: 700;
    /* justify-content: left; */
}

.body {
  /* border: 5px solid #2D3237; */
  /* border-radius: 10px; */
  background: url(./imgs/papyrus.png);
  background-repeat: repeat-y;
  background-attachment: local;
  /* border-radius: 2.5px; */
  margin: 2.5%;
  padding: 5%;
  width: 65%;
  height: auto;
  overflow-y:auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  /* filter: drop-shadow(5px 5px 10px #000); */
}

.body ul {
  text-align: left;
  margin: auto 2%;
  padding: 1%;
  font-family: 'IM Fell English SC', serif;
  font-size: 1rem;
  font-weight: 900;
  line-height: 150%;
}

/* #traits {
  text-align: center;
  margin: auto 2%;
  padding: 1rem;
  font-family: 'IM Fell English SC', serif;
  font-size: 1rem;
  font-weight: 900;
  line-height: 125%;
} */

.grow { 
  transition: all .2s ease-in-out; 
  }
  
  .grow:hover { 
  /* transform: translateY(100px); */
  transform: scale(1.05) translateY(-5px);; 
  }