@media screen and (max-width: 1536px) {
  .container {
    padding: 0;
    margin: 1.5vh 0;
  }

  .title {
    width: 90%;
  }
  .title h2 {
    font-size: 2.5rem;
  }

  .title h3 {
    font-size: 1.75rem;
  }

  .challenge p {
    font-size: 1.25rem;
  }

  .page {
    height: 800px;
    width: 600px;
  }

  .pictureContainer {
    /* height: 300px; */
    width: 80%;
  }

  .savingThrows p {
    font-size: 1.25rem;
  }

  .details {
    width: 80%;
  }

  .details p {
    font-size: 1.25rem;
  }

  .content {
    width: 83%;
  }

  .stats {
    font-size: 1rem;
  }

  .stats ul {
    margin: -5% 0 0 -30%;
  }
}

@media screen and (max-width: 1366px) {
  .container {
    padding: 0;
    margin: 4vh 0;
  }

  .title {
    width: 90%;
  }
  .title h2 {
    font-size: 2rem;
  }

  .title h3 {
    font-size: 1.5rem;
  }

  .challenge p {
    font-size: 1rem;
  }

  .page {
    height: 700px;
    width: 500px;
  }

  .pictureContainer {
    /* height: 300px; */
    width: 85%;
  }

  .savingThrows p {
    font-size: 1rem;
  }

  .details {
    width: 90%;
  }

  .details p {
    font-size: 1rem;
  }

  .content {
    width: 90%;
  }

  .stats {
    font-size: 0.85rem;
  }

  .stats ul {
    margin: -5% 0 0 -30%;
  }
}

@media screen and (max-width: 414px) {
  .container {
    padding: 0;
    margin: 0;
  }

  .title {
    width: 90%;
  }
  .title h2 {
    font-size: 1.85rem;
  }

  .title h3 {
    font-size: 1.5rem;
  }

  .challenge p {
    font-size: 0.9rem;
  }

  .page {
    height: 750px;
    width: 420px;
  }

  .pictureContainer {
    /* height: 300px; */
    width: 90%;
  }

  .savingThrows p {
    font-size: 1rem;
  }

  .details {
    width: 90%;
  }

  .details p {
    font-size: 0.9rem;
  }

  .content {
    width: 95%;
  }

  .stats {
    font-size: 0.85rem;
  }

  .stats ul {
    margin: -5% 0 0 -30%;
  }
}

@media screen and (max-width: 375px) {
  .container {
    padding: 0;
    margin: 0;
  }
  .title {
    width: 90%;
  }
  .title h2 {
    font-size: 1.65rem;
  }

  .title h3 {
    font-size: 1.15rem;
  }

  .challenge p {
    font-size: 0.9rem;
  }

  .page {
    height: 575px;
    width: 375px;
  }

  .pictureContainer {
    /* height: 300px; */
    width: 90%;
  }

  .savingThrows p {
    font-size: 0.85rem;
  }

  .details {
    height: auto;
    width: 90%;
  }

  .details p {
    font-size: 0.75rem;
    height: 50px;
  }

  .content {
    width: 95%;
  }

  .stats {
    font-size: 0.7rem;
  }

  .stats ul {
    margin: -10% 0 0 -30%;
    width: 80%;
  }

  .stats ul li {
    width: 135%;
  }
}
