.background {
  display: flex;
  justify-content: space-between;
  /* background-image: url(./imgs/woodTable.jpeg); */
  /* background: url(./imgs/papyrus.png); */
  /* background-color: black; */

  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  width: auto;
  height: auto;
  /* border: 5px solid black; */
}
