.background {
  display: flex;
  /* justify-content: space-between; */
  /* background-attachment: local; */
  /* background-image: url(./imgs/woodTable.jpeg); */
  /* background: url(./imgs/papyrus.png); */
}

.scrollContainer {
  scroll-snap-type: x mandatory;
  scroll-padding: 50%;
}

.Page {
  scroll-snap-align: center;
}