.background {
  /* background-image: url(./imgs/woodTable.jpeg); */
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: contain;
  width: auto;
  height: auto;
  /* border: 5px solid black; */
}